.accordion {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.div_geral{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
}

.div_esquerda-group{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;;
    margin-right: 5px;
}


.div_direta-group{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    width: 100%;
    align-items: flex-start;
}

.div_direita{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}