
body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap; /* Permite que os elementos da div .container se ajustem à largura da tela */
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form{
	flex: 1;
	padding: 20px;
    background-color: #f0f0f0;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.form-group button {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
}
