<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="login-form">
            <h2>Cadastro</h2>
            <form method="post" action="/login?formAction=cadastra">
                <!-- metodo para enviar/cadastrar requisicao formAction para distinguir os Post
                 nas classe-->
                <div class="form-group">
                    <label for="CadastroNome">Nome</label>
                    <input type="text" id="CadastroNome" name="CadastroNome" required>
                </div>
                <div class="form-group">
                    <label for="CadastroEmail">Email</label>
                    <input type="email" id="CadastroEmail" name="CadastroEmail" required>
                </div>
                <div class="form-group">
                    <label for="CadastroPassword">Senha</label>
                    <input type="password" id="CadastroPassword" name="CadastroPassword" required>
                </div>
                <div class="form-group">
                    <label for="CadastroConfirmPassword">Confirmar Senha</label>
                    <input type="password" id="CadastroConfirmPassword" name="CadastroConfirmPassword" required>
                    <div class="error-message">
                        <!-- Exiba mensagens de erro aqui, se necessário -->
                        <p th:text="${param.errorC}" style="color: red; font-size: 12px;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" value="Cadastrar">Cadastrar</button>
                </div>
            </form>
            <div class="success-message">
                <p th:text="${session.cadastroSucesso}" style="color: green; font-size: 12px;"></p>
            </div>
        </div>
    </div>
</body>

</html>
