<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset='utf-8'>
    <title>Pessoa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body style="display: flex; flex-direction: column;">

    <div class="header_trab">
        <h2 class="h2_trabalhos" th:text="${infoPessoa.nome}"></h2>
    </div>

    <div class="container">
        <div class="cadastro-form">
            <div class="form-group">
                <div class="div_sub_titulo"> Pessoas
                    <div class="form-group">
                        <a>
                            <button type="button" class="remove-pessoa-button"
                                th:attr="data-pessoa-id=${infoPessoa.id}">Remover</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="seila">
                <div class="form-group" style="gap: 10px;">
                    <button class="accordion">Contatos</button>
                    <div class="panel">
                        <table id="tabela-tarefas">
                            <thead>
                                <tr>
                                    <th style="width:30%">Telefone</th>
                                    <th style="width:30%">Email</th>
                                    <th style="width:30%">Opcoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="contato : ${infoContato}">
                                    <td>
                                        <a class="a_tarefas"
                                            th:text="${contato.telefone}"></a>
                                    </td>
                                    <td th:text="${contato.email}"> </td>
                                    <td class="td_membro">
                                        <div class="form-group" style="gap: 10px;">
                                        <button type="button" class="remove-contato-button"
                                            th:attr="data-contato-id=${contato.id}">Remover</button>
                                            <!-- <a th:href="@{'/pessoa/' + ${contato.idpessoa} + '/ContatoEdit/' + ${contato.id}}">
                                                <button type="button">Editar</button>
                                            </a> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="accordion">Endereços</button>
                    <div class="panel">
                        <table id="tabela-tarefas">
                            <thead>
                                <tr>
                                    <th style="width:30%">CEP</th>
                                    <th style="width:30%">Logradouto</th>
                                    <th style="width:30%">Numero</th>
                                    <th style="width:30%">Bairro</th>
                                    <th style="width:30%">Municipio e Estado</th>
                                    <th style="width:30%">Opcoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="enderecos : ${infoEndereco}">
                                    <td>
                                        <a class="a_tarefas" th:attr="href=@{'/pessoa/' + ${enderecos.id}}"
                                            th:text="${enderecos.cep}"></a>
                                    </td>
                                    <td th:text="${enderecos.logradouro}"> </td>
                                    <td th:text="${enderecos.numero}"></td>
                                    <td th:text="${enderecos.bairro}"> </td>
                                    <td th:text="${enderecos.municipio} + ' - ' + ${enderecos.estado}"></td>



                                    <td class="td_membro">
                                        <button type="button" class="remove-button"
                                            th:attr="data-end-id=${enderecos.id}">Remover</button>
                                            <!-- <a th:href="@{'/enderecoEdit/' + ${enderecos.id}}">
                                                <button type="button">Editar</button>
                                            </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="form-group">
                <a href="/logout">
                    <button type="button" class="butao" style="margin: 0px 0px 4px 4px">Sair / LogOff</button>
                </a>
            </div>
            <div class="form-group" style="gap: 10px">
                <a th:href="@{/home}">
                    <button type="button" class="butao">Voltar</button>
                </a>
                <a th:href="@{/pessoa/{id}/cadastroContato(id=${id})}">
                    <button type="button" class="butao">Adicionar Contato</button>
                </a>
                <div class="form-group">
                    <a th:href="@{/pessoa/{id}/cadastroEndereco(id=${id})}">
                        <button type="button" class="butao">Adicionar Endereco</button>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <script>
        var accordions = document.getElementsByClassName("accordion");

        for (var i = 0; i < accordions.length; i++) {
            accordions[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        // Adicione um ouvinte de evento a todos os botões de remoção
        const removeButtons = document.querySelectorAll(".remove-button");
        removeButtons.forEach(button => {
            button.addEventListener("click", function () {
                const endId = this.getAttribute("data-end-id");

                // Envie uma solicitação para o servidor para remover o membro
                fetch(`/removeEnd/${endId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => {
                        if (response.status === 200) {
                            alert("Endereco Removido com sucesso.");
                            window.location.reload(); // Recarrega a página
                            // Atualize a lista de membros após a remoção
                        } else {
                            alert("Erro ao remover o Endereco.");
                        }
                    });
            });
        });


        const removeContatoButtons = document.querySelectorAll(".remove-contato-button");
        removeContatoButtons.forEach(button => {
            button.addEventListener("click", function () {
                const contatoId = this.getAttribute("data-contato-id");

                // Envie uma solicitação para o servidor para remover o membro
                fetch(`/removeContato/${contatoId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => {
                        if (response.status === 200) {
                            alert("Contato Removido com sucesso.");
                            window.location.reload(); // Recarrega a página
                            // Atualize a lista de membros após a remoção
                        } else {
                            alert("Erro ao remover o contato.");
                        }
                    });
            });
        });

        const removePessoaButtons = document.querySelectorAll(".remove-pessoa-button");
        removePessoaButtons.forEach(button => {
            button.addEventListener("click", function () {
                const pessoaId = this.getAttribute("data-pessoa-id");

                // Envie uma solicitação para o servidor para remover o membro
                fetch(`/removePessoa/${pessoaId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => {
                        if (response.status === 200) {
                            alert("Pessoa Removido com sucesso.");
                            window.location.href = '/home';
                        } else {
                            alert("Erro ao remover  pessoa.");
                        }
                    });
            });
        });


    </script>

</body>



</html>