<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset='utf-8'>
    <title>Pessoa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body style="display: flex; flex-direction: column;">

    <div class="header_trab">
        <h2 class="h2_trabalhos" th:text="${infoPessoa.nome}"></h2>
        <div class="form-group">
            <a th:href="@{/cadastroPessoas}">
                <button type="button" class="butao">Cadastrar Pessoa</button>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="cadastro-form">
            <div class="form-group">
                <div class="div_sub_titulo"> Pessoas
                    <div class="form-group">
                        <a th:href="@{/cadastroPessoas}">
                            <button type="button" class="butao">Cadastrar Pessoa</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="seila">
                <div class="form-group" style="gap: 10px;">
                    <button class="accordion">Contatos</button>
                    <div class="panel">
                        <table id="tabela-tarefas">
                            <thead>
                                <tr>
                                    <th style="width:30%">Nome</th>
                                    <th style="width:30%">CPF</th>
                                    <th style="width:30%">Data Nascimento</th>
                                    <th style="width:30%">Opcoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="result : ${pessoas}">
                                    <td>
                                        <a class="a_tarefas" th:attr="href=@{'/pessoa/' + ${result.id}}"
                                            th:text="${result.nome}"></a>
                                    </td>
                                    <td th:text="${result.CPF}"> </td>
                                    <td th:text="${result.dataNascimento}"></td>
                                    <td class="td_membro">
                                        <button type="button" class="remove-button"
                                            th:attr="data-member-id=${result[1].idMembros}, data-work-id=${idtrab}">Remover</button>
                                        <button type="button" class="remove-button"
                                            th:attr="data-member-id=${result[1].idMembros}, data-work-id=${idtrab}">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="accordion">Endereços</button>
                    <div class="panel">
                        <table id="tabela-tarefas">
                            <thead>
                                <tr>
                                    <th style="width:30%">Nome</th>
                                    <th style="width:30%">CPF</th>
                                    <th style="width:30%">Data Nascimento</th>
                                    <th style="width:30%">Opcoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="result : ${pessoas}">
                                    <td>
                                        <a class="a_tarefas" th:attr="href=@{'/pessoa/' + ${result.id}}"
                                            th:text="${result.nome}"></a>
                                    </td>
                                    <td th:text="${result.CPF}"> </td>
                                    <td th:text="${result.dataNascimento}"></td>
                                    <td class="td_membro">
                                        <button type="button" class="remove-button"
                                            th:attr="data-member-id=${result[1].idMembros}, data-work-id=${idtrab}">Remover</button>
                                        <button type="button" class="remove-button"
                                            th:attr="data-member-id=${result[1].idMembros}, data-work-id=${idtrab}">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="form-group">
                <a href="/logout">
                    <button type="button" class="butao" style="margin: 0px 0px 4px 4px">Sair / LogOff</button>
                </a>
            </div>
        </div>
    </div>

    <script>
        var accordions = document.getElementsByClassName("accordion");

        for (var i = 0; i < accordions.length; i++) {
            accordions[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

</body>

<!-- <div>
        <h2 th:text="${infoPessoa.nome}"> </h2>
    </div>
    <p th:text="${infoPessoa.CPF}"></p>

    <div class="form-group">
        <a th:href="@{/pessoa/{id}/cadastroContato(id=${id})}">
            <button type="button" class="butao">Adicionar Contato</button>
        </a>
    </div>

    <div class="form-group">
        <a th:href="@{/pessoa/{id}/cadastroEndereco(id=${id})}">
            <button type="button" class="butao">Adicionar Endereco</button>
        </a>
    </div>
    <div class="form-group">
        <a th:href="@{/home}">
            <button type="button" class="butao">Voltar</button>
        </a>
    </div> -->


</html>